@model User_Login.Models.User
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Invalid Username or Password");
    <div>
        <fieldset>
            <legend>Register</legend>
            <div class="editor-label">
                @Html.LabelFor(u => u.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.UserName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(u => u.Password)
                @Html.ValidationMessageFor(u => u.Password)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.Email)
            </div>
            <br />
            <input type="submit" value="Register New User" />
        </fieldset>
    </div>
}

