@using System.Linq
@using PagedList.Mvc
@model User_Login.View_Models.AdminLoggedInViewModel
@{
    ViewBag.Title = "AdminLoggedIn";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<style type="text/css">
    .clickable {
        cursor: pointer;
    }

    .searchGrid {
        height: 200px;
        border: dashed;
        align-content: center;
    }

    .position {
        width: 500px;
        text-align: center;
    }

    .description {
        width: 700px;
    }

    .city {
        width: 100px;
    }

    .state {
        width: 50px;
    }

    .country {
        width: 100px;
    }

    .skills {
        width: 400px;
    }

    .mytable tbody tr td {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>


<br />
<br />
<br />
<div class="container">
    <div class="jumbotron list-group-item-danger" style="margin-bottom:0px;">
        <h1 style="text-align:center; font-family:'Agency FB'; font-weight:bold;">Admin Mode</h1>
        <p style="font-style:italic; text-align:center; font-family:'Agency FB';">Mangage the users below:</p>
    </div>
</div>


<br />
<br />
<div class="container-fluid">
    <fieldset>
        <legend style="text-align:center;color:forestgreen">Search for users</legend>
    </fieldset>
    <form class="form-horizontal" action="@Url.Action("SearchUsers", "User")" role="form" method="post">
        <div class="row">
            <div class="col-lg-4 hidden-sm hidden-xs"></div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputFName" class="col-md-4 control-label label label-default hidden-sm hidden-xs" style="text-align:center; font-size:14px;">User First Name</label>
                    <label for="inputFName" class="col-md-4 control-label visible-sm visible-xs">User First Name</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(u => u.Fname, null, new { @class = "form-control", @placeholder = "First Name", @id = "inputFName" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 hidden-sm hidden-xs"></div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputLName" class="col-md-4 control-label label label-default hidden-sm hidden-xs" style="text-align:center; font-size:14px;">User Last Name</label>
                    <label for="inputLName" class="col-md-4 control-label visible-sm visible-xs">User Last Name</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(u => u.Lname, null, new { @class = "form-control", @placeholder = "First Name", @id = "inputLName" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 hidden-sm hidden-xs"></div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputEmail" class="col-md-4 control-label label label-default hidden-sm hidden-xs" style="text-align:center; font-size:14px;">User Email</label>
                    <label for="inputEmail" class="col-md-4 control-label visible-sm visible-xs">User Email</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(u => u.Email, null, new { @class = "form-control", @placeholder = "Email", @id = "inputEmail" })
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="center-block">
            <input type="submit" class="btn btn-success center-block" value="Search" />
        </div>
    </form>
</div>


@*@using (Html.BeginForm("SearchUsers", "User", FormMethod.Post))
{
    <style type="text/css">
        .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
            border: none;
        }
    </style>
    <table class="table borderless">
        <tr>
            <td>
                <div class="col-lg-15" style="margin:5% auto; width:500px;top:0px;">
                    @Html.TextBoxFor(u => u.Fname, new { @class = "form-control", @placeholder = "First Name" })
                    </div>
            </td>
            <td>
                <div class="col-lg-15" style="margin:5% auto; width:500px;top:0px;">
                 @Html.TextBoxFor(u => u.Lname, new { @class = "form-control", @placeholder = "Last Name" })
                 </div>
            </td>
            <td>
                <div class="col-lg-15" style="margin:5% auto; width:500px;top:0px;">
                    @Html.TextBoxFor(u => u.Email, new { @class = "form-control", @placeholder = "Email" })
                 </div>
            </td>
            </tr>
        <tr>
            <td></td>
            <td>
                <div>
                    <input type="submit" class="btn btn-success center-block" value="Search" />
                </div>
            </td>
            <td></td>
            </tr>
        </table>
}*@

<br />
<br />
<br />
<div class="container">
    <fieldset>
        <legend style="text-align:center; color:red;">Complete user listing</legend>
    </fieldset>
    <table class="table table-responsive table-hover table-condensed mytable hidden-sm hidden-xs">
        <tr>
            <td class="col-md-2">First Name</td>
            <td class="col-md-2">Last Name</td>
            <td class="col-md-2">Email</td>
            <td class="col-md-2">City</td>
            <td class="col-md-2">State</td>
        </tr>
        @foreach (var item in Model.pagedList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User_First_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_Last_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_State)
                </td>
                <td>
                    @if (item.Is_Active == 1)
                    {
                        <input type="button" class="btn btn-primary" value="Deactivate" onclick="window.location.href='@Url.Action("DeActivateUser", "User",  new { email = item.Email_Id})'" />
                    }
                    else
                    {
                        <input type="button" class="btn btn-success" value="Activate" onclick="window.location.href='@Url.Action("ActivateUser", "User",  new { email = item.Email_Id})'" />
                    }
                </td>
                <td>
                    <input type="button" class="btn btn-danger" value="Delete" onclick="window.location.href='@Url.Action("DeleteUser", "User", new { email = item.Email_Id })'" />
                </td>
            </tr>
        }
    </table>
    <table class="table table-responsive table-hover table-condensed mytable visible-sm visible-xs">
        <tr>
            <td class="col-md-2">Email</td>
        </tr>
        @foreach(var item in Model.pagedList)
        {
            <tr>
                <td>
                    <p style="font-size:12px;">@item.Email_Id</p>
                </td>
                <td>
                    @if (item.Is_Active == 1)
                    {
                        <input type="button" class="btn btn-primary" value="Deactivate" onclick="window.location.href='@Url.Action("DeActivateUser", "User",  new { email = item.Email_Id})'" />
                    }
                    else
                    {
                        <input type="button" class="btn btn-success" value="Activate" onclick="window.location.href='@Url.Action("ActivateUser", "User",  new { email = item.Email_Id})'" />
                    }
                </td>
                <td>
                    <input type="button" class="btn btn-danger" value="Delete" onclick="window.location.href='@Url.Action("DeleteUser", "User", new { email = item.Email_Id })'" />
                </td>
            </tr>
        }
    </table>
    <br />

    <p>Page @(Model.pagedList.PageCount < Model.pagedList.PageNumber ? 0 : Model.pagedList.PageNumber) of @Model.pagedList.PageCount </p>
    @Html.PagedListPager(Model.pagedList, page => Url.Action("AdminLoggedIn", new { page }))

</div>