@using System.Linq
@using PagedList.Mvc
@model User_Login.View_Models.AdminLoggedInViewModel
@{
    ViewBag.Title = "AdminLoggedIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="align-items:center">
    <h3>Manage Users</h3>
</div>

<style type="text/css">
    .clickable {
        cursor: pointer;
    }

    .searchGrid {
        height: 200px;
        border: dashed;
        align-content: center;
    }

    .position {
        width: 500px;
        text-align: center;
    }

    .description {
        width: 700px;
    }

    .city {
        width: 100px;
    }

    .state {
        width: 50px;
    }

    .country {
        width: 100px;
    }

    .skills {
        width: 400px;
    }

    .mytable tbody tr td {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<p style="font-family:'Lucida Console'; font-size:35px; font-style:italic; color:red;">Admin Login Successful!. Manage Users Below!</p>

<table class="table table-hover table-condensed mytable">
    <tr>
        <td class="col-md-2">First Name</td>
        <td class="col-md-2">Last Name</td>
        <td class="col-md-2">Email</td>
        <td class="col-md-2">City</td>
        <td class="col-md-2">State</td>
    </tr>
    @foreach (var item in Model.pagedList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User_First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_State)
            </td>
            <td>
                @if (item.Is_Active == 1)
                {
                <input type="button" class="btn btn-default" value="DeActivate" onclick="window.location.href='@Url.Action("DeActivateUser", "User",  new { email = item.Email_Id})'" />
                }
                else
                {
                <input type="button" class="btn btn-default" value="Activate" onclick="window.location.href='@Url.Action("ActivateUser", "User",  new { email = item.Email_Id})'" />
                }
            </td>
            <td>
                <input type="button" class="btn btn-default" value="Delete" onclick="window.location.href='@Url.Action("DeleteUser", "User", new { email = item.Email_Id })'" />
            </td>
        </tr>
    }
</table>
<br />
<p>Page @(Model.pagedList.PageCount < Model.pagedList.PageNumber ? 0 : Model.pagedList.PageNumber) of @Model.pagedList.PageCount </p>
@Html.PagedListPager(Model.pagedList, page => Url.Action("LoggedIn", new { city = ViewBag.LocationLabel, customer = ViewBag.CustomerLabel, page }))
 