@model User_Login.Models.ChangePassword
@{
    ViewBag.Title = "ChangePasswordEmail";
}

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <br />
    <br />
    <br />
    @Html.ValidationSummary("Operation failed.", new { @class = "alert alert-danger centered" })

    if (Session["changePassword"] != null && !System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <label class="label label-success center-block" style="font-size:medium">
            @Session["changePassword"].ToString()
        </label>
    
    <label class="label label-success center-block" style="font-size:medium">
        <br />
        You will be redirected to login page soon.
        @{Response.AddHeader("REFRESH", "5;URL=/User/Login");}
    </label>
    }
    <br />
    <br />
    <br />


    <div style="margin:5% auto; width:350px;top:200px;">
        @* modified by Simul *@
        <fieldset>
            <legend style="text-align:center;color:forestgreen">Change password</legend>

            @*<div class="editor-field disabled" title="Email address">
                @Html.Label(Model.EmailId)
            </div>*@

            @if (User.Identity.IsAuthenticated)
            {
                <div class="editor-field" title="Enter current password">
                    @Html.PasswordFor(u => u.CurrentPassword, new { @class = "form-control", @placeholder = "Current Password" })
                </div>

                <div class="editor-field" title="Enter password">
                    @Html.PasswordFor(u => u.Password, new { @class = "form-control", @placeholder = "New Password" })
                </div>

                <div class="editor-field" title="Re-enter password">
                    @Html.PasswordFor(u => u.ConfirmPassword, new { @class = "form-control", @placeholder = "Reenter New Password" })
                </div>
            }
            else
            {
                <div class="form-control disabled" title="Email">
                    <text placeholder="Email">
                        @Html.Encode(Model.EmailId)
                    </text>
                </div>

                <div class="editor-field" title="Enter password">
                    @Html.PasswordFor(u => u.Password, new { @class = "form-control", @placeholder = "Password" })
                </div>

                <div class="editor-field" title="Re-enter password">
                    @Html.PasswordFor(u => u.ConfirmPassword, new { @class = "form-control", @placeholder = "Reenter Password" })
                </div>
            }
        </fieldset>

        <br />
        <br />
        <br />


        <div style="text-align:center" title="Click to change password">
            <input type="submit" value="Submit" class="btn btn-danger" />
        </div>
    </div>
}


