@model User_Login.Models.ChangePassword
@{
    ViewBag.Title = "ChangePasswordEmail";
}

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@using (Html.BeginForm())
{
    <br />
    <br />
    <br />
    @Html.ValidationSummary("Password could not be changed.", new { @class = "alert alert-danger centered" })

    if (Session["changePassword"] != null)
    {
        <label class="label label-success center-block" style="font-size:medium">
            @Session["changePassword"].ToString()
        </label>

        if (!System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <label class="label label-success center-block" style="font-size:medium">
                <br />
                You will be redirected to login page soon.
            </label>
            <meta http-equiv="Refresh" content="5;URL=@(Url.Action("Login", "User"))">
        }
    }
    <br />
    <br />
    <br />

    <style type="text/css">
        .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
            border: none;
        }
    </style>

    <div style="margin:5% auto; width:500px;top:30px;">
        <table width="350" class="table borderless">
            @if (User.Identity.IsAuthenticated)
            {
                <tr>
                    <td>
                        <div style="font-size:large" title="Current password">
                            <label class="col-lg-10 label label-default">Current password</label>
                        </div>
                    </td>
                    <td>
                        @Html.PasswordFor(u => u.CurrentPassword, new { @class = "form-control", @placeholder = "Current Password" })
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        <div style="font-size:large" title="Email">
                            <label class="col-lg-10 label label-default">Email</label>
                        </div>
                    </td>
                    <td>
                        <div class="col-lg-15 form-control-static">
                            @Html.Encode(Model.EmailId)
                        </div>
                    </td>
                </tr>
            }

            <tr>
                <td>
                    <div style="font-size:large" title="Enter new password">
                        <label class="col-lg-10 label label-default">New Password</label>
                    </div>
                </td>
                <td>
                    <div class="col-lg-15">
                        @Html.TextBoxFor(u => u.Password, new { @class = "form-control", @placeholder = "New password" })
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div style="font-size:large" title="Re-Enter password">
                        <label class="col-lg-10 label label-default">Confirm Password</label>
                    </div>
                </td>
                <td>
                    <div class="col-lg-15">
                        @Html.PasswordFor(u => u.ConfirmPassword, new { @class = "form-control", @placeholder = "Re-enter password" })
                    </div>
                </td>
            </tr>

        </table>
    </div>

    <br />
    <div style="text-align:center" title="Click to change password">
        <input type="submit" value="Submit" class="btn btn-success" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" class="btn btn-danger" value="User Home Screen" title="Go to User Home Page" onclick="window.location.href='@Url.Action("LoggedIn", "User")'" />
    </div>
}*@

<br />
<br />
<br />
<div class="container">
    <div class="jumbotron list-group-item-success" style="margin-bottom:0px;">
        <h1 style="text-align:center;">Change Password</h1>
    </div>
</div>


<br />
<div class="container-fluid">
    <div>
        @Html.ValidationSummary("Password could not be changed.", new { @class = "alert alert-danger centered" })
    </div>
    <form class="form-horizontal" role="form" method="post">

        @if (Session["changePassword"] != null)
        {
            <label class="label label-success center-block" style="font-size:medium">
                @Session["changePassword"].ToString()
            </label>

            if (!System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
            {
                <label class="label label-success center-block" style="font-size:medium">
                    <br />
                    You will be redirected to login page soon.
                </label>
                <meta http-equiv="Refresh" content="5;URL=@(Url.Action("Login", "User"))">
            }
        }
        @if(User.Identity.IsAuthenticated)
        {
            <div class="row">
                <div class="col-lg-4 hidden-sm hidden-xs"></div>
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        <label for="inputCurP" class="col-md-4 control-label label label-default hidden-sm hidden-xs" style="text-align:center; font-size:15px;">Current Password</label>
                        <label for="inputCurP" class="col-md-4 control-label visible-sm visible-xs">Current Password</label>
                        <div class="col-md-8">
                            @Html.PasswordFor(u => u.CurrentPassword, new { @class = "form-control", @placeholder = "Current Password", @id = "inputCurP" })
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-lg-4 hidden-sm hidden-xs"></div>
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        <label for="emailsection" class="col-md-4 control-label label label-default hidden-sm hidden-xs" style="text-align:center; font-size:15px;">Email</label>
                        <label for="emailsection" class="col-md-4 control-label visible-sm visible-xs">Email</label>
                        <div class="col-md-8 form-control-static" id="emailsection">
                            @Html.Encode(Model.EmailId)
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-lg-4 hidden-sm hidden-xs"></div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputNewP" class="col-md-4 control-label label label-default hidden-sm hidden-xs" style="text-align:center; font-size:15px;">New Password</label>
                    <label for="inputNewP" class="col-md-4 control-label visible-sm visible-xs">New Password</label>
                    <div class="col-md-8">
                        @*@Html.TextBoxFor(u => u.Password, null, new { @class = "form-control", @placeholder = "New Password", @id = "inputNewP" })*@
                        @Html.PasswordFor(u => u.Password, new { @class = "form-control", @placeholder = "New Password", @id = "inputNewP" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 hidden-sm hidden-xs"></div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputConP" class="col-md-4 control-label label label-default hidden-sm hidden-xs" style="text-align:center; font-size:15px;">Confirm Password</label>
                    <label for="inputConP" class="col-md-4 control-label visible-sm visible-xs">Confirm Password</label>
                    <div class="col-md-8">
                        @*@Html.TextBoxFor(u => u.ConfirmPassword, null, new { @class = "form-control", @placeholder = "Re-enter Password", @id = "inputConP" })*@
                        @Html.PasswordFor(u => u.ConfirmPassword, new { @class = "form-control", @placeholder = "New Password", @id = "inputConP" })
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align:center" title="Click to change password">
            <input type="submit" value="Submit" class="btn btn-success" />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" class="btn btn-danger" value="User Home Screen" title="Go to User Home Page" onclick="window.location.href='@Url.Action("LoggedIn", "User")'" />
        </div>
    </form>
</div>


