@using System.Linq
@model PagedList.IPagedList<User_Login.Models.Tbl_Jobs>
@using PagedList.Mvc;
@*@model IEnumerable<User_Login.Models.Tbl_Jobs>*@


@{
    ViewBag.Title = "LoggedIn";
}

<style type="text/css">
    .mytable tbody tr td {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<br />
<br />
<h2 class="page-header" style="padding-left:20px;">Welcome, @User.Identity.Name!</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Recommended Jobs</h4>
            <p style="font-style:italic;">Check out these trending jobs you may qualify for.</p>
            <hr />
        </div>
        <div class="col-md-4">
            <div class="span2 description blue">
                <span class="glyphicon glyphicon-pushpin btn-lg"></span>
                @*<p>
                        @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.GetEnumerator())
                        {
                            iterator.MoveNext();
                            User_Login.Models.Tbl_Jobs current = iterator.Current;
                            string position = current.Position;
                            <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
                            <br />
                            string description = current.Description;
                            if (description.Length > 150)
                            {
                                description = description.Substring(0, 150);
                                description = description + "...";
                            }
                            int id = current.Job_Id;
                            @Html.Encode(description)
                            <br />
                            <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
                        }
                    </p>*@
            </div>
        </div>
        <div class="col-md-4">
            <div class="span2 description yellow">
                <span class="glyphicon glyphicon-pushpin btn-lg"></span>
                <p>
                    @*@using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.GetEnumerator())
                            {
                                iterator.MoveNext();
                                iterator.MoveNext();
                                User_Login.Models.Tbl_Jobs current = iterator.Current;
                                string position = current.Position;
                                <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
                                <br />
                                string description = current.Description;
                                if (description.Length > 150)
                                {
                                    description = description.Substring(0, 150);
                                    description = description + "...";
                                }
                                int id = current.Job_Id;
                                @Html.Encode(description)
                                <br />
                                <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
                            }
                        </p>*@
            </div>
        </div>
        <div class="col-md-4">
            <div class="span2 description green">
                <span class="glyphicon glyphicon-pushpin btn-lg"></span>
                @*<p>
                        @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.GetEnumerator())
                        {
                            iterator.MoveNext();
                            iterator.MoveNext();
                            iterator.MoveNext();
                            User_Login.Models.Tbl_Jobs current = iterator.Current;
                            string position = current.Position;
                            <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
                            <br />
                            string description = current.Description;
                            if (description.Length > 150)
                            {
                                description = description.Substring(0, 150);
                                description = description + "...";
                            }
                            int id = current.Job_Id;
                            @Html.Encode(description)
                            <br />
                            <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
                        }
                    </p>*@
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="span2 description orange">
                <span class="glyphicon glyphicon-pushpin btn-lg"></span>
                @*<p>
                        @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.GetEnumerator())
                        {
                            iterator.MoveNext();
                            iterator.MoveNext();
                            iterator.MoveNext();
                            iterator.MoveNext();
                            User_Login.Models.Tbl_Jobs current = iterator.Current;
                            string position = current.Position;
                            <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
                            <br />
                            string description = current.Description;
                            if (description.Length > 150)
                            {
                                description = description.Substring(0, 150);
                                description = description + "...";
                            }
                            int id = current.Job_Id;
                            @Html.Encode(description)
                            <br />
                            <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
                        }
                    </p>*@
            </div>
        </div>
        <div class="col-md-4">
            <div class="span2 description red">
                <span class="glyphicon glyphicon-pushpin btn-lg"></span>
                @*<p>
                        @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.GetEnumerator())
                        {
                            iterator.MoveNext();
                            iterator.MoveNext();
                            iterator.MoveNext();
                            iterator.MoveNext();
                            iterator.MoveNext();
                            User_Login.Models.Tbl_Jobs current = iterator.Current;
                            string position = current.Position;
                            <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
                            <br />
                            string description = current.Description;
                            if (description.Length > 150)
                            {
                                description = description.Substring(0, 150);
                                description = description + "...";
                            }
                            int id = current.Job_Id;
                            @Html.Encode(description)
                            <br />
                            <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
                        }
                    </p>*@
            </div>
        </div>
        <div class="col-md-4">
            <div class="span2 description blue">
                <span class="glyphicon glyphicon-pushpin btn-lg"></span>
                @*<p>
                        @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.GetEnumerator())
                        {
                            iterator.MoveNext();
                            iterator.MoveNext();
                            iterator.MoveNext();
                            iterator.MoveNext();
                            iterator.MoveNext();
                            iterator.MoveNext();
                            User_Login.Models.Tbl_Jobs current = iterator.Current;
                            string position = current.Position;
                            <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
                            <br />
                            string description = current.Description;
                            if (description.Length > 150)
                            {
                                description = description.Substring(0, 150);
                                description = description + "...";
                            }
                            int id = current.Job_Id;
                            @Html.Encode(description)
                            <br />
                            <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
                        }
                    </p>*@
            </div>
        </div>
    </div>
</div>

<header id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <div class="fill"></div>
            <div class="carousel-caption">
                <h2>Caption 1</h2>
            </div>
        </div>
        <div class="item active">
            <div class="fill"></div>
            <div class="carousel-caption">
                <h2>Caption 2</h2>
            </div>
        </div>
        <div class="item active">
            <div class="fill"></div>
            <div class="carousel-caption">
                <h2>Caption 3</h2>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>

<div style="width:100%; padding-top:53px;">
    <div class="container" style="background-color:darkgray; width:100%;">
        <div class="row" style="width:100%;">
            <div class="col-md-12" style=" width:100%;">
                <h2 style="text-align:center; font-weight:600">Computech Job Search</h2>
                <br />
                <br />
                @using (Html.BeginForm("LoggedIn", "User", FormMethod.Get))
                {
                    <div class="row row-centered">
                        <div class="col-md-3">
                            @Html.Label("Filter By Location")
                            @Html.DropDownList("city", new SelectList(ViewBag.Location), ViewBag.LocationLabel as string, new { @class = "form-control", @style = "width:auto" })
                        </div>
                        <div class="col-md-3">
                            @Html.Label("Filter By Customer")
                            @Html.DropDownList("customer", new SelectList(ViewBag.Customer), ViewBag.CustomerLabel as string, new { @class = "form-control", @style = "width:150px" })
                        </div>
                        <div class="col-md-3">
                            @Html.Label("Filter By Required Skills")
                            @Html.DropDownList("skills", Enumerable.Empty<SelectListItem>(), "Select One", new { @class = "form-control", @style = "width:auto" })
                        </div>
                        <div class="col-md-3">
                            @Html.Label("Filter By Required Experience")
                            @Html.DropDownList("experience", Enumerable.Empty<SelectListItem>(), "Select One", new { @class = "form-control", @style = "width:auto" })
                        </div>
                    </div>
                    <br />
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
                        <div class="row">
                            <button type="submit" class="btn btn-submit">Search Jobs   <span class="glyphicon glyphicon-search"></span></button>
                            <span style="padding-left:30px"></span>
                            <button type="submit" class="btn btn-submit">Reset Search   </button>
                        </div>
                    </div>
                }

                <br />
                <br />
                <br />

                @if (!Model.Any())
                {
                    <p>No search results!</p>
                }
                else
                {
                    <table class="table table-hover table-condensed mytable">
                        <tr>
                            <td class="col-md-2">Job Position</td>
                            <td class="col-md-2">Job Description</td>
                            <td class="col-md-2">Location</td>
                            <td class="col-md-2">Skills</td>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Position)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Profile_Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.City_Name) @Html.DisplayFor(modelItem => item.State_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Required_Skills)
                                </td>
                                <td>
                                    <input type="button" class="btn btn-default" value="Details" onclick="window.location.href='@Url.Action("Details", "JobSearch" , new { id=@item.Job_Id })'" />
                                </td>
                            </tr>
                        }
                    </table>
                    <br />
                    <p>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount </p>
                    @Html.PagedListPager(Model, page => Url.Action("LoggedIn", new { city = ViewBag.LocationLabel, customer = ViewBag.CustomerLabel, page }))
                }
                <br />
            </div>
        </div>
    </div>
</div>

