@using System.Linq
@using PagedList.Mvc
@model User_Login.View_Models.LoggedInViewModel



@{
    ViewBag.Title = "LoggedIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .mytable tbody tr td {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<link href="~/Content/modern-businesss.css" rel="stylesheet">
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="container" style="padding-bottom:0px;" id="jsHome">
    <div class="jumbotron list-group-item-success">
        <div class="row">
            <div class="col-md-7">
                <h1 style="color:black;">Welcome, <strong>@Model.name</strong>!</h1>
                <p>@DateTime.Now.DayOfWeek, @DateTime.Now.Month/@DateTime.Now.Day/@DateTime.Now.Year, @(((DateTime.Now.Hour + 11) % 12) + 1):@string.Format("{0:mm}", DateTime.Now) @string.Format("{0:tt}", DateTime.Now)</p>
                <ol class="breadcrumb" style="text-align:center;">
                    <li><a href="#jsHome">Dashboard Home</a></li>
                    <li><a href="#myCarousel">Recommended Jobs</a></li>
                    <li><a href="#jobSearch">Job Search</a></li>
                </ol>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2" style="text-align:right;">
                <br />
                <br />
                <p style="font-style: italic; font-weight: 900; text-align: right; font-family: 'Agency FB'; font-size:30px; color:black;">Get ready to Accelerate Your Career</p>
            </div>
            <div class="col-md-2">
                <span class="glyphicon glyphicon-forward" style="font-size: 200px; text-align: right;"></span>
            </div>
        </div>
    </div>
</div>

<header id="myCarousel" class="carousel slide" style="height:600px; padding-top:0px;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        @for (int i = 1; i < Model.numPagesRecJobs; i++)
        {
            <li data-target="#myCarousel" data-slide-to="@i"></li>
        }
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill"><img src="~/Content/Images/block2.jpg" /></div>
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="featurette-heading" style="text-align:left; font-weight:600;">Recommended Jobs</h1>
                    <p style="font-style:italic; text-align:left;">Check out these trending jobs you may qualify for.</p>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="span2 description blue">
                                <span class="glyphicon glyphicon-pushpin btn-lg"></span>
                                <p>
                                    @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.recJobs.GetEnumerator())
                                    {
                                        for (int j = 0; j < 1; j++)
                                        {
                                            iterator.MoveNext();
                                        }
                                        iterator.MoveNext();
                                        User_Login.Models.Tbl_Jobs current = iterator.Current;
                                        string position = current.Position;
                                        <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
                                        <br />
                                        string description = current.Description;
                                        if (description.Length > 150)
                                        {
                                            description = description.Substring(0, 150);
                                            description = description + "...";
                                        }
                                        int id = current.Job_Id;
                                        @Html.Encode(description)
                                        <br />
                                        <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="span2 description yellow">
                                <span class="glyphicon glyphicon-pushpin btn-lg"></span>
                                <p>
                                    @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.recJobs.GetEnumerator())
                                    {
                                        for (int j = 0; j < 2; j++)
                                        {
                                            iterator.MoveNext();
                                        }
                                        iterator.MoveNext();
                                        User_Login.Models.Tbl_Jobs current = iterator.Current;
                                        string position = current.Position;
                                        <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
                                        <br />
                                        string description = current.Description;
                                        if (description.Length > 150)
                                        {
                                            description = description.Substring(0, 150);
                                            description = description + "...";
                                        }
                                        int id = current.Job_Id;
                                        @Html.Encode(description)
                                        <br />
                                        <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="span2 description green">
                                <span class="glyphicon glyphicon-pushpin btn-lg"></span>
                                <p>
                                    @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.recJobs.GetEnumerator())
                                    {
                                        for (int j = 0; j < 3; j++)
                                        {
                                            iterator.MoveNext();
                                        }
                                        iterator.MoveNext();
                                        User_Login.Models.Tbl_Jobs current = iterator.Current;
                                        string position = current.Position;
                                        <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
                                        <br />
                                        string description = current.Description;
                                        if (description.Length > 150)
                                        {
                                            description = description.Substring(0, 150);
                                            description = description + "...";
                                        }
                                        int id = current.Job_Id;
                                        @Html.Encode(description)
                                        <br />
                                        <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="span2 description orange">
                                <span class="glyphicon glyphicon-pushpin btn-lg"></span>
                                <p>
                                    @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.recJobs.GetEnumerator())
                                    {
                                        for (int j = 0; j < 4; j++)
                                        {
                                            iterator.MoveNext();
                                        }
                                        iterator.MoveNext();
                                        User_Login.Models.Tbl_Jobs current = iterator.Current;
                                        string position = current.Position;
                                        <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
                                        <br />
                                        string description = current.Description;
                                        if (description.Length > 150)
                                        {
                                            description = description.Substring(0, 150);
                                            description = description + "...";
                                        }
                                        int id = current.Job_Id;
                                        @Html.Encode(description)
                                        <br />
                                        <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="span2 description red">
                                <span class="glyphicon glyphicon-pushpin btn-lg"></span>
                                <p>
                                    @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.recJobs.GetEnumerator())
                                    {
                                        for (int j = 0; j < 5; j++)
                                        {
                                            iterator.MoveNext();
                                        }
                                        iterator.MoveNext();
                                        User_Login.Models.Tbl_Jobs current = iterator.Current;
                                        string position = current.Position;
                                        <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
                                        <br />
                                        string description = current.Description;
                                        if (description.Length > 150)
                                        {
                                            description = description.Substring(0, 150);
                                            description = description + "...";
                                        }
                                        int id = current.Job_Id;
                                        @Html.Encode(description)
                                        <br />
                                        <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="span2 description blue">
                                <span class="glyphicon glyphicon-pushpin btn-lg"></span>
                                <p>
                                    @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.recJobs.GetEnumerator())
                                    {
                                        for (int j = 0; j < 6; j++)
                                        {
                                            iterator.MoveNext();
                                        }
                                        iterator.MoveNext();
                                        User_Login.Models.Tbl_Jobs current = iterator.Current;
                                        string position = current.Position;
                                        <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
                                        <br />
                                        string description = current.Description;
                                        if (description.Length > 150)
                                        {
                                            description = description.Substring(0, 150);
                                            description = description + "...";
                                        }
                                        int id = current.Job_Id;
                                        @Html.Encode(description)
                                        <br />
                                        <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
        @for (int i = 1; i < Model.numPagesRecJobs; i++)
        {
            <div class="item">
                <div class="fill"><img src="~/Content/Images/block2.jpg" /></div>
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="featurette-heading" style="text-align:left; font-weight:600;">Recommended Jobs</h1>
                        <p style="font-style:italic; text-align:left;">Check out these trending jobs you may qualify for.</p>
                        <hr />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="span2 description blue">
                                    <span class="glyphicon glyphicon-pushpin btn-lg"></span>
                                    <p>
                                        @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.recJobs.GetEnumerator())
                                        {
                                            for (int j = 0; j < (6 * i) + 1; j++)
                                            {
                                                iterator.MoveNext();
                                            }
                                            iterator.MoveNext();
                                            User_Login.Models.Tbl_Jobs current = iterator.Current;
                                            string position = current.Position;
                                            <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
                                            <br />
                                            string description = current.Description;
                                            if (description.Length > 150)
                                            {
                                                description = description.Substring(0, 150);
                                                description = description + "...";
                                            }
                                            int id = current.Job_Id;
                                            @Html.Encode(description)
                                            <br />
                                            <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
                                        }
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="span2 description yellow">
                                    <span class="glyphicon glyphicon-pushpin btn-lg"></span>
                                    <p>
                                        @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.recJobs.GetEnumerator())
                                        {
                                            for (int j = 0; j < (6 * i) + 2; j++)
                                            {
                                                iterator.MoveNext();
                                            }
                                            iterator.MoveNext();
                                            User_Login.Models.Tbl_Jobs current = iterator.Current;
                                            string position = current.Position;
                                            <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
                                            <br />
                                            string description = current.Description;
                                            if (description.Length > 150)
                                            {
                                                description = description.Substring(0, 150);
                                                description = description + "...";
                                            }
                                            int id = current.Job_Id;
                                            @Html.Encode(description)
                                            <br />
                                            <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
                                        }
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="span2 description green">
                                    <span class="glyphicon glyphicon-pushpin btn-lg"></span>
                                    <p>
                                        @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.recJobs.GetEnumerator())
                                        {
                                            for (int j = 0; j < (6 * i) + 3; j++)
                                            {
                                                iterator.MoveNext();
                                            }
                                            iterator.MoveNext();
                                            User_Login.Models.Tbl_Jobs current = iterator.Current;
                                            string position = current.Position;
                                            <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
                                            <br />
                                            string description = current.Description;
                                            if (description.Length > 150)
                                            {
                                                description = description.Substring(0, 150);
                                                description = description + "...";
                                            }
                                            int id = current.Job_Id;
                                            @Html.Encode(description)
                                            <br />
                                            <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
                                        }
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="span2 description orange">
                                    <span class="glyphicon glyphicon-pushpin btn-lg"></span>
                                    <p>
                                        @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.recJobs.GetEnumerator())
                                        {
                                            for (int j = 0; j < (6 * i) + 4; j++)
                                            {
                                                iterator.MoveNext();
                                            }
                                            iterator.MoveNext();
                                            User_Login.Models.Tbl_Jobs current = iterator.Current;
                                            string position = current.Position;
                                            <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
                                            <br />
                                            string description = current.Description;
                                            if (description.Length > 150)
                                            {
                                                description = description.Substring(0, 150);
                                                description = description + "...";
                                            }
                                            int id = current.Job_Id;
                                            @Html.Encode(description)
                                            <br />
                                            <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
                                        }
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="span2 description red">
                                    <span class="glyphicon glyphicon-pushpin btn-lg"></span>
                                    <p>
                                        @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.recJobs.GetEnumerator())
                                        {
                                            for (int j = 0; j < (6 * i) + 5; j++)
                                            {
                                                iterator.MoveNext();
                                            }
                                            iterator.MoveNext();
                                            User_Login.Models.Tbl_Jobs current = iterator.Current;
                                            string position = current.Position;
                                            <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
                                            <br />
                                            string description = current.Description;
                                            if (description.Length > 150)
                                            {
                                                description = description.Substring(0, 150);
                                                description = description + "...";
                                            }
                                            int id = current.Job_Id;
                                            @Html.Encode(description)
                                            <br />
                                            <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
                                        }
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="span2 description blue">
                                    <span class="glyphicon glyphicon-pushpin btn-lg"></span>
                                    <p>
                                        @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.recJobs.GetEnumerator())
                                        {
                                            for (int j = 0; j < (6 * i) + 6; j++)
                                            {
                                                iterator.MoveNext();
                                            }
                                            iterator.MoveNext();
                                            User_Login.Models.Tbl_Jobs current = iterator.Current;
                                            string position = current.Position;
                                            <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
                                            <br />
                                            string description = current.Description;
                                            if (description.Length > 150)
                                            {
                                                description = description.Substring(0, 150);
                                                description = description + "...";
                                            }
                                            int id = current.Job_Id;
                                            @Html.Encode(description)
                                            <br />
                                            <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
                                        }
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        }
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>

<br />
<br />
<div class="container">
    <div class="text-center">
        <img class="img-circle" src="~/Content/Images/question.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Didn't find what you're looking for?</h2>
        <p>Run a custom job search below:</p>
    </div>
</div>
<br />

@*<br />
    <br />
    <h2 class="page-header" style="padding-left:20px;">Welcome, @User.Identity.Name!</h2>*@

@*<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Recommended Jobs</h4>
            <p style="font-style:italic;">Check out these trending jobs you may qualify for.</p>
            <hr />
        </div>
        <div class="col-md-4">
            <div class="span2 description blue">
                <span class="glyphicon glyphicon-pushpin btn-lg"></span>
                @*<p>
                        @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.GetEnumerator())
                        {
                            iterator.MoveNext();
                            User_Login.Models.Tbl_Jobs current = iterator.Current;
                            string position = current.Position;
                            <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
                            <br />
                            string description = current.Description;
                            if (description.Length > 150)
                            {
                                description = description.Substring(0, 150);
                                description = description + "...";
                            }
                            int id = current.Job_Id;
                            @Html.Encode(description)
                            <br />
                            <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
                        }
                    </p>*@
@*</div>
    </div>
    <div class="col-md-4">
        <div class="span2 description yellow">
            <span class="glyphicon glyphicon-pushpin btn-lg"></span>*@
@*<p>
    @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.GetEnumerator())
            {
                iterator.MoveNext();
                iterator.MoveNext();
                User_Login.Models.Tbl_Jobs current = iterator.Current;
                string position = current.Position;
                <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
                <br />
                string description = current.Description;
                if (description.Length > 150)
                {
                    description = description.Substring(0, 150);
                    description = description + "...";
                }
                int id = current.Job_Id;
                @Html.Encode(description)
                <br />
                <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
            }
        </p>*@
@*</div>
    </div>
    <div class="col-md-4">
        <div class="span2 description green">
            <span class="glyphicon glyphicon-pushpin btn-lg"></span>*@
@*<p>
        @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.GetEnumerator())
        {
            iterator.MoveNext();
            iterator.MoveNext();
            iterator.MoveNext();
            User_Login.Models.Tbl_Jobs current = iterator.Current;
            string position = current.Position;
            <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
            <br />
            string description = current.Description;
            if (description.Length > 150)
            {
                description = description.Substring(0, 150);
                description = description + "...";
            }
            int id = current.Job_Id;
            @Html.Encode(description)
            <br />
            <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
        }
    </p>*@
@*</div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="span2 description orange">
                <span class="glyphicon glyphicon-pushpin btn-lg"></span>*@
@*<p>
        @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.GetEnumerator())
        {
            iterator.MoveNext();
            iterator.MoveNext();
            iterator.MoveNext();
            iterator.MoveNext();
            User_Login.Models.Tbl_Jobs current = iterator.Current;
            string position = current.Position;
            <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
            <br />
            string description = current.Description;
            if (description.Length > 150)
            {
                description = description.Substring(0, 150);
                description = description + "...";
            }
            int id = current.Job_Id;
            @Html.Encode(description)
            <br />
            <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
        }
    </p>*@
@*</div>
    </div>
    <div class="col-md-4">
        <div class="span2 description red">
            <span class="glyphicon glyphicon-pushpin btn-lg"></span>*@
@*<p>
        @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.GetEnumerator())
        {
            iterator.MoveNext();
            iterator.MoveNext();
            iterator.MoveNext();
            iterator.MoveNext();
            iterator.MoveNext();
            User_Login.Models.Tbl_Jobs current = iterator.Current;
            string position = current.Position;
            <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
            <br />
            string description = current.Description;
            if (description.Length > 150)
            {
                description = description.Substring(0, 150);
                description = description + "...";
            }
            int id = current.Job_Id;
            @Html.Encode(description)
            <br />
            <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
        }
    </p>*@
@*</div>
    </div>
    <div class="col-md-4">
        <div class="span2 description blue">
            <span class="glyphicon glyphicon-pushpin btn-lg"></span>*@
@*<p>
        @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.GetEnumerator())
        {
            iterator.MoveNext();
            iterator.MoveNext();
            iterator.MoveNext();
            iterator.MoveNext();
            iterator.MoveNext();
            iterator.MoveNext();
            User_Login.Models.Tbl_Jobs current = iterator.Current;
            string position = current.Position;
            <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
            <br />
            string description = current.Description;
            if (description.Length > 150)
            {
                description = description.Substring(0, 150);
                description = description + "...";
            }
            int id = current.Job_Id;
            @Html.Encode(description)
            <br />
            <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
        }
    </p>*@
@*</div>
            </div>
        </div>
    </div>*@

<div class="container-fluid" id="jobSearch">
    <div class="well">
        @using (Html.BeginForm("LoggedIn", "User", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-4">
                    <p style="font-family:'Agency FB'; font-weight:900; font-size:70px;">Job Search</p>
                    <p style="font-family:'Agency FB'; font-size:25px; font-style:italic;">Find your dream job today.</p>
                </div>
                <div class="col-md-4">
                    <br />
                    <br />
                    <button type="submit" class="btn btn-success btn-lg">Search Jobs   <span class="glyphicon glyphicon-search"></span></button>
                    <br />
                    <br />
                    <button type="submit" class="btn btn-danger btn-lg">Reset Search    </button>
                </div>
                <div class="col-md-4">
                    @Html.Label("Filter By Location")
                    @Html.DropDownList("city", new SelectList(ViewBag.Location), ViewBag.LocationLabel as string, new { @class = "form-control btn btn-lg btn-default btn-block", @style = "width:100%; height: 100%" })
                    @Html.Label("Filter By Customer")
                    @Html.DropDownList("customer", new SelectList(ViewBag.Customer), ViewBag.CustomerLabel as string, new { @class = "form-control btn btn-lg btn-default btn-block", @style = "width:100%; height: 100%" })
                    @Html.Label("Filter By Required Skills")
                    @Html.DropDownList("skills", Enumerable.Empty<SelectListItem>(), "Select One", new { @class = "form-control btn btn-lg btn-default btn-block", @style = "width:100%; height:100%" })
                    @Html.Label("Filter By Required Experience")
                    @Html.DropDownList("experience", Enumerable.Empty<SelectListItem>(), "Select One", new { @class = "form-control btn btn-lg btn-default btn-block", @style = "width:100%; height:100%" })
                </div>
            </div>
        }
        @if (!Model.pagedList.Any())
        {
            <p>No search results!</p>
        }
        else
        {
            <table class="table table-hover table-condensed mytable">
                <tr>
                    <td class="col-md-2">Job Position</td>
                    <td class="col-md-2">Job Description</td>
                    <td class="col-md-2">Location</td>
                    <td class="col-md-2">Skills</td>
                </tr>
                @foreach (var item in Model.pagedList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Profile_Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City_Name) @Html.DisplayFor(modelItem => item.State_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Required_Skills)
                        </td>
                        <td>
                            <input type="button" class="btn btn-default" value="Details" onclick="window.location.href='@Url.Action("Details", "JobSearch" , new { id=@item.Job_Id })'" />
                        </td>
                    </tr>
                }
            </table>
            <br />
            <p>Page @(Model.pagedList.PageCount < Model.pagedList.PageNumber ? 0 : Model.pagedList.PageNumber) of @Model.pagedList.PageCount </p>
            @Html.PagedListPager(Model.pagedList, page => Url.Action("LoggedIn", new { city = ViewBag.LocationLabel, customer = ViewBag.CustomerLabel, page }))
        }
    </div>

</div>

<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>