@model User_Login.Models.LoginUser
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<div class="container">
    <div class="jumbotron list-group-item-success" style="margin-bottom:0px;">
        <h1 style="text-align:center;">Sign In</h1>
    </div>
</div>
<br />
@*@using (Html.BeginForm())
{
    @Html.ValidationSummary("Login failed.", new { @class = "alert alert-danger centered" });

    <style type="text/css">
        .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
            border: none;
        }
    </style>
    <br />
    <div id="test">
        <table class="table borderless table-responsive" align="center" style="width:initial">
            <tr>
                <td>
                    <div style="font-size:large" title="Enter email">
                        <label class="col-lg-10 label label-default">Email</label>
                    </div>
                </td>
                <td>
                    <div>
                        @Html.TextBoxFor(u => u.Email, new { @class = "form-control", @placeholder = "Email address" })
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div style="font-size:large" title="Enter password">
                        <label class="col-lg-10 label label-default">Password</label>
                    </div>
                </td>
                <td>
                    <div>
                        @Html.TextBoxFor(u => u.Password, new { @class = "form-control", @placeholder = "Password" })
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                </td>
                <td style="display:inline; margin-left:3px; font-size: 1.0em;">
                    @Html.CheckBoxFor(u => u.RememberMe, new { @class = "checkbox" }) @Html.LabelFor(u => u.RememberMe)
                </td>
            </tr>
        </table>

        <div class="text-center" title="Click to log in">
            <input type="submit" value="Log In" class="btn btn-success" />&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; <input type="button" class="btn btn-danger" value="Back" onclick="history.go(-1)" />
        </div>
        <br />
        <br />
        <div class="text-center">
            @Html.ActionLink("Click here if you forgot your password", "ForgotPassword", "User")
        </div>
    </div>
}*@

<div class="container-fluid">
    <div>
        @Html.ValidationSummary("Login failed.", new { @class = "alert alert-danger centered" })
    </div>
    <form class="form-horizontal" role="form" method="post">
        <div class="row">
            <div class="col-lg-4 hidden-sm hidden-xs"></div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputEmail" class="col-md-4 control-label label label-default hidden-sm hidden-xs" style="text-align:center; font-size:16px;">Email</label>
                    <label for="inputEmail" class="col-md-4 control-label visible-sm visible-xs">Email</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(u => u.Email, null, new { @class = "form-control", @placeholder = "Email address", @id = "inputEmail" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 hidden-sm hidden-xs"></div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputPassword" class="col-md-4 control-label label label-default hidden-sm hidden-xs" style="text-align:center; font-size:16px;">Password</label>
                    <label for="inputPassword" class="col-md-4 control-label visible-sm visible-xs">Password</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(u => u.Password, null, new { @class = "form-control", @placeholder = "Password", @id = "inputPassword" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 hidden-sm hidden-xs"></div>
            <div class="col-sm-6 col-lg-8">
                <div class="form-group">
                    <div class="col-md-8">
                        <div class="col-md-3"></div>
                        @Html.CheckBoxFor(u => u.RememberMe, new { @class = "checkbox", @id = "inputCheck", @style = "display: inline" })
                        &nbsp; &nbsp;
                        <p style="font-weight:bold; display:inline;">Remember me on this computer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center" title="Click to log in">
            <input type="submit" value="Log In" class="btn btn-success" />&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; <input type="button" class="btn btn-danger" value="Back" onclick="history.go(-1)" />
        </div>
        <br />
        <br />
        <div class="text-center">
            @Html.ActionLink("Click here if you forgot your password", "ForgotPassword", "User")
        </div>
    </form>
</div>
