@model User_Login.Models.LoginUser
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    <br />
    <br />
    <br />
    @*@Html.ValidationSummary(true, "Login failed. Check your login credentials.", new { class });*@
    @Html.ValidationSummary("Login failed.", new { @class = "alert alert-danger centered" });

    <style type="text/css">
        .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
            border: none;
        }
    </style>

    <div id="test" style="margin:5% auto; width:500px;top:200px;">

        <table width="350" class="table borderless">
            <tr>
                <td>
                    <div style="font-size:large" title="Enter email">
                        <label class="col-lg-10 label label-default">Email</label>
                    </div>
                </td>
                <td>
                    <div class="col-lg-15 form-control-static">
                        @Html.TextBoxFor(u => u.Email, new { @class = "form-control", @placeholder = "Email address" })
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div style="font-size:large" title="Enter password">
                        <label class="col-lg-10 label label-default">Password</label>
                    </div>
                </td>
                <td>
                    <div class="col-lg-15">
                        @Html.TextBoxFor(u => u.Password, new { @class = "form-control", @placeholder = "New password" })
                    </div>
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <div class="col-lg-15">
                        @Html.CheckBoxFor(u => u.RememberMe, new { @class = "checkbox"})
                        @Html.LabelFor(u => u.RememberMe)
                    </div>
                </td>
            </tr>
        </table>


        <div class="text-center" title="Click to log in">
            <input type="submit" value="Log In" class="btn btn-success" />&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; <input type="button" class="btn btn-danger" value="Back" onclick="history.go(-1)" />
        </div>
        <br />
        <br />
        <div class="text-center">
            @Html.ActionLink("Click here if you forgot your password", "ForgotPassword", "User")
        </div>
    </div>
}
