@model User_Login.Models.LoginUser
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    <br />
    <br />
    <br />
    @*@Html.ValidationSummary(true, "Login failed. Check your login credentials.", new { class });*@
    @Html.ValidationSummary("Login failed.", new { @class = "alert alert-danger centered" });

    <div id="test" style="margin:5% auto; width:350px;top:200px;">    @* modified by Simul *@
        <fieldset>
            <legend style="text-align:center;color:forestgreen">Login</legend> @*modified by Simul*@  
            @*<div class="editor-label">
                @Html.LabelFor(u => u.Email)
            </div>*@
            <div class="editor-field" title="Enter email address">
                @Html.TextBoxFor(u => u.Email, new { @class = "form-control", @placeholder = "Email address" })
            </div>
            @*<div class="editor-label">
                @Html.LabelFor(u => u.Password)
            </div>*@
            <div class="editor-field" title="Enter password">
                @Html.PasswordFor(u => u.Password, new { @class = "form-control", @placeholder = "Password" })
                @Html.ValidationMessageFor(u => u.Password)
            </div>
            <div class="checkbox" style="left:20px;" title="Remember me on this computer">
                @Html.CheckBoxFor(u => u.RememberMe)
                @Html.LabelFor(u => u.RememberMe)
            </div>
            <div class="text-center" title="Click to log in">
                <input type="submit" value="Log In" class="btn btn-danger"/>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; <input type="button" class="btn btn-danger" value="Back" onclick="history.go(-1)" /> 
            </div>
        </fieldset>

    <br />
    <br />
    @Html.ActionLink("Click here if you forgot your password", "ForgotPassword", "User")
    </div>
}
