@model User_Login.Models.UserProfile

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
@if (TempData["success"] != null)
{
    <label class="label label-success center-block" style="font-size:x-large">
        @TempData["success"].ToString()
    </label>
}
else
{
    <label class="label label-info center-block" style="font-size:x-large">
        Tell us more about you!
    </label>
    @Html.ValidationSummary("Profile information could not be saved.", new { @class = "alert alert-danger centered" })
}

@using (Html.BeginForm())
{
    <div style="margin:5% auto; width:350px;top:30px;">
        <table width="350">
            <tr>
                <td>
                    <label class="label label-default" style="font-size:small">
                        Email
                    </label>
                </td>
                <td>
                    <p class="form-control-static col-lg-2">
                        @Html.Encode(User.Identity.Name)
                    </p>
                </td>
            </tr>

            <tr>
                <td>
                    <label class="label label-default" style="font-size:small">
                        First Name
                    </label>
                </td>
                <td>
                    @Html.TextBoxFor(u => u.FirstName, new { @class = "form-control" })
                </td>
            </tr>

            <tr>
                <td>
                    <label class="label label-default" style="font-size:small">
                        Last Name
                    </label>
                </td>
                <td>
                    @Html.TextBoxFor(u => u.LastName, new { @class = "form-control" })
                </td>
            </tr>

            <tr>
                <td>
                    <label class="label label-default" style="font-size:small">
                        Street
                    </label>
                </td>
                <td>
                    @Html.TextBoxFor(u => u.Street, new { @class = "form-control", @placeholder = "Street" })
                </td>
            </tr>

            <tr>
                <td>
                    <label class="label label-default" style="font-size:small">
                        City
                    </label>
                </td>
                <td>
                    @Html.TextBoxFor(u => u.City, new { @class = "form-control", @placeholder = "City" })
                </td>
            </tr>

            <tr>
                <td>
                    <label class="label label-default" style="font-size:small">
                        State
                    </label>
                </td>
                <td>
                    @Html.TextBoxFor(u => u.State, new { @class = "form-control", @placeholder = "State" })
                </td>
            </tr>

            <tr>
                <td>
                    <label class="label label-default" style="font-size:small">
                        Country
                    </label>
                </td>
                <td>
                    @Html.TextBoxFor(u => u.Country, new { @class = "form-control", @placeholder = "Country" })
                </td>
            </tr>

            <tr>
                <td>
                    <label class="label label-default" style="font-size:small">
                        Phone Number
                    </label>
                </td>
                <td>
                    @Html.TextBoxFor(u => u.phone_number, new { @class = "form-control", @placeholder = "Phone Number" })
                </td>
            </tr>

            <tr>
                <td>
                    <label class="label label-default" style="font-size:small">
                        Skills
                    </label>
                </td>
                <td>
                    @Html.TextAreaFor(u => u.Skills, new { @class = "form-control", @placeholder = "Skills" })
                </td>
            </tr>

            <tr>
                <td>
                    <label class="label label-default" style="font-size:small">
                        Total Years of Experience
                    </label>
                </td>
                <td>
                    @Html.TextBoxFor(u => u.Experience_Years, new { @class = "form-control", @placeholder = "Years of Experience" })
                </td>
            </tr>

            <tr>
                <td>

                </td>
                <td>
                    @Html.ActionLink("Click here to upload your resume", "UploadResume", "User")
                </td>
            </tr>
        </table>
        <br />
        <br />
        <div class="text-center">
            <input type="submit" class="btn btn-danger" value="Save Information" title="Click to save information" />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" class="btn btn-danger" value="User Home Screen" title="Go to User Home Page" onclick="window.location.href='@Url.Action("LoggedIn", "User")'" />
        </div>
    </div>
}
