@model User_Login.Models.User
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<div class="container">
    <div class="jumbotron list-group-item-success" style="margin-bottom:0px;">
        <h1 style="text-align:center;">Register</h1>
    </div>
</div>

<br />

@*<div class="container">
    @using (Html.BeginForm())
    {
        <style type="text/css">
            .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
                border: none;
            }
        </style>
        @Html.ValidationSummary( "Error processing your request", new { @class="alert alert-danger" });
        <div style="margin:5% auto; width:500px;top:150px;">

            <table class="table borderless">
                <tr>
                    <td>
                        <div style="font-size:large" title="Enter first name">
                            <label class="col-lg-10 label label-default">First Name*</label>
                        </div>
                    </td>
                    <td>
                        <div class="col-lg-15">
                            @Html.TextBoxFor(u => u.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div style="font-size:large" title="Enter last name">
                            <label class="col-lg-10 label label-default">Last Name*</label>
                        </div>
                    </td>
                    <td>
                        <div class="col-lg-15">
                            @Html.TextBoxFor(u => u.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div style="font-size:large" title="Enter first name">
                            <label class="col-lg-10 label label-default">Email*</label>
                        </div>
                    </td>
                    <td>
                        <div class="col-lg-15">
                            @Html.TextBoxFor(u => u.Email, new { @class = "form-control", @placeholder = "Email" })
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div style="font-size:large" title="Enter first name">
                            <label class="col-lg-10 label label-default">Password*</label>
                        </div>
                    </td>
                    <td>
                        <div class="col-lg-15">
                            @Html.PasswordFor(u => u.Password, new { @class = "form-control", @placeholder = "Password" })
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div style="font-size:large" title="Enter first name">
                            <label class="col-lg-10 label label-default">Confirm Password*</label>
                        </div>
                    </td>
                    <td>
                        <div class="col-lg-15">
                            @Html.PasswordFor(u => u.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="text-center">
            <input type="submit" class="btn btn-success" value="Create My Account" />
        </div>
    }
</div>*@

<div class="container-fluid">
    <div>
        @Html.ValidationSummary("Error processing your request", new { @class = "alert alert-danger" })
    </div>
    <form class="form-horizontal" role="form" method="post">
        <div class="row">
            <div class="col-lg-4 hidden-sm hidden-xs"></div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputFName" class="col-md-4 control-label label label-default hidden-sm hidden-xs" style="text-align:center; font-size:16px;">First Name*</label>
                    <label for="inputFName" class="col-md-4 control-label visible-sm visible-xs">First Name*</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(u => u.FirstName, null, new { @class = "form-control", @placeholder = "First Name", @id = "inputFName" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 hidden-sm hidden-xs"></div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputLName" class="col-md-4 control-label label label-default hidden-sm hidden-xs" style="text-align:center; font-size:16px;">Last Name*</label>
                    <label for="inputLName" class="col-md-4 control-label visible-sm visible-xs">Last Name*</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(u => u.LastName, null, new { @class = "form-control", @placeholder = "Last Name", @id = "inputLName" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 hidden-sm hidden-xs"></div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputEmail" class="col-md-4 control-label label label-default hidden-sm hidden-xs" style="text-align:center; font-size:16px;">Email*</label>
                    <label for="inputEmail" class="col-md-4 control-label visible-sm visible-xs">Email*</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(u => u.Email, null, new { @class = "form-control", @placeholder = "Email", @id = "inputEmail" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 hidden-sm hidden-xs"></div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputPW" class="col-md-4 control-label label label-default hidden-sm hidden-xs" style="text-align:center; font-size:16px;">Password*</label>
                    <label for="inputPW" class="col-md-4 control-label visible-sm visible-xs">Password*</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(u => u.Password, null, new { @class = "form-control", @placeholder = "Password", @id = "inputPW" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 hidden-sm hidden-xs"></div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputPW2" class="col-md-4 control-label label label-default hidden-sm hidden-xs" style="text-align:center; font-size:15px;">Confirm Password*</label>
                    <label for="inputPW2" class="col-md-4 control-label visible-sm visible-xs">Confirm Password*</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(u => u.ConfirmPassword, null, new { @class = "form-control", @placeholder = "Confirm Password", @id = "inputPW2" })
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="text-center">
            <input type="submit" class="btn btn-success" value="Create My Account" />
            <br />
            <br />
            <p style="font-weight:bold;">* Indicates required field</p>
        </div>
    </form>
</div>