@using System.Linq
@using PagedList.Mvc
@model User_Login.View_Models.AdminLoggedInViewModel
@{
    ViewBag.Title = "AdminLoggedIn";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<style type="text/css">
    .clickable {
        cursor: pointer;
    }

    .searchGrid {
        height: 200px;
        border: dashed;
        align-content: center;
    }

    .position {
        width: 500px;
        text-align: center;
    }

    .description {
        width: 700px;
    }

    .city {
        width: 100px;
    }

    .state {
        width: 50px;
    }

    .country {
        width: 100px;
    }

    .skills {
        width: 400px;
    }

    .mytable tbody tr td {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>


<br />
<br />
<br />
<div class="container">
    <div class="jumbotron list-group-item-danger" style="margin-bottom:0px;">
        <h1 style="text-align:center; font-family:'Agency FB'; font-weight:bold;">Admin Mode</h1>
    </div>
</div>
<br />

<div class="container">
    <div class="text-center">
        <fieldset>
            <legend style="text-align:center; color:forestgreen; font-size:35px;">Search Results</legend>
        </fieldset>
    </div>

    <table class="table table-hover table-condensed mytable hidden-sm hidden-xs">
        <tr>
            <td class="col-md-2">First Name</td>
            <td class="col-md-2">Last Name</td>
            <td class="col-md-2">Email</td>
            <td class="col-md-2">City</td>
            <td class="col-md-2">State</td>
        </tr>
        @foreach (var item in Model.pagedList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User_First_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_Last_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_State)
                </td>
                <td>
                    @if (item.Is_Active == 1)
                    {
                        <input type="button" class="btn btn-primary" value="Deactivate" onclick="window.location.href='@Url.Action("DeActivateUser", "User",  new { email = item.Email_Id})'" />
                    }
                    else
                    {
                        <input type="button" class="btn btn-success" value="Activate" onclick="window.location.href='@Url.Action("ActivateUser", "User",  new { email = item.Email_Id})'" />
                    }
                </td>
                <td>
                    <input type="button" class="btn btn-danger" value="Delete" onclick="window.location.href='@Url.Action("DeleteUser", "User", new { email = item.Email_Id })'" />
                </td>
            </tr>
        }
    </table>
    <table class="table table-responsive table-hover table-condensed mytable visible-sm visible-xs">
        <tr>
            <td class="col-md-2">Email</td>
        </tr>
        @foreach (var item in Model.pagedList)
        {
            <tr>
                <td>
                    <p style="font-size:12px;">@item.Email_Id</p>
                </td>
                <td>
                    @if (item.Is_Active == 1)
                    {
                        <input type="button" class="btn btn-primary" value="Deactivate" onclick="window.location.href='@Url.Action("DeActivateUser", "User",  new { email = item.Email_Id})'" />
                    }
                    else
                    {
                        <input type="button" class="btn btn-success" value="Activate" onclick="window.location.href='@Url.Action("ActivateUser", "User",  new { email = item.Email_Id})'" />
                    }
                </td>
                <td>
                    <input type="button" class="btn btn-danger" value="Delete" onclick="window.location.href='@Url.Action("DeleteUser", "User", new { email = item.Email_Id })'" />
                </td>
            </tr>
        }
    </table>
    <br />
    <p>Page @(Model.pagedList.PageCount < Model.pagedList.PageNumber ? 0 : Model.pagedList.PageNumber) of @Model.pagedList.PageCount </p>
    @Html.PagedListPager(Model.pagedList, page => Url.Action("SearchUsers"))

    <input type="button" class="btn btn-default" value="Back to Admin Dashboard" onclick="window.location.href='@Url.Action("AdminLoggedIn", "User")'" />
</div>