@model IEnumerable<User_Login.Models.Tbl_Jobs>
@{
    ViewBag.Title = "Job Search Site";
}

@*<br />
    <input type="button" value="Search For Jobs!" onclick="location.href = '@Url.Action("Index", "JobSearch")'" />*@

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Job Search</h1>
            <input type="button" value="Search For Jobs!" class="btn btn-success" onclick="location.href = '@Url.Action("Index", "JobSearch")'" />
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-header">Featured Jobs</h4>
                </div>
                <div class="col-md-6 span2 description blue">
                    <span class="glyphicon glyphicon-pushpin btn-lg"></span>
                    <p>
                       @using(IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.GetEnumerator())
                       {
                           iterator.MoveNext();
                           User_Login.Models.Tbl_Jobs current = iterator.Current;
                           string position = current.Position;
                           <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
                           <br />
                           string description = current.Description;
                           if(description.Length > 75)
                           {
                               description = description.Substring(0, 75);
                               description = description + "...";
                           }
                           int id = current.Job_Id;
                           @Html.Encode(description)
                           <br />
                           <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
                       }
                    </p>
                </div>
                <div class="col-md-6 span2 description red">
                    <span class="glyphicon glyphicon-pushpin btn-lg"></span>
                    <p>
                        @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.GetEnumerator())
                        {
                            iterator.MoveNext();
                            iterator.MoveNext();
                            User_Login.Models.Tbl_Jobs current = iterator.Current;
                            string position = current.Position;
                            <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
                           <br />
                           string description = current.Description;
                           if(description.Length > 75)
                           {
                               description = description.Substring(0, 75);
                               description = description + "...";
                           }
                           int id = current.Job_Id;
                           @Html.Encode(description)
                           <br />
                           <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
                        }
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 span2 description green">
                    <span class="glyphicon glyphicon-pushpin btn-lg"></span>
                    <p>
                        @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.GetEnumerator())
                        {
                            iterator.MoveNext();
                            iterator.MoveNext();
                            iterator.MoveNext();
                            User_Login.Models.Tbl_Jobs current = iterator.Current;
                            string position = current.Position;
                            <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
                           <br />
                           string description = current.Description;
                           if(description.Length > 75)
                           {
                               description = description.Substring(0, 75);
                               description = description + "...";
                           }
                           int id = current.Job_Id;
                           @Html.Encode(description)
                           <br />
                           <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
                        }
                    </p>
                </div>
                <div class="col-md-6 span2 description orange">
                    <span class="glyphicon glyphicon-pushpin btn-lg"></span>
                    <p>
                        @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.GetEnumerator())
                        {
                            iterator.MoveNext();
                            iterator.MoveNext();
                            iterator.MoveNext();
                            iterator.MoveNext();
                            User_Login.Models.Tbl_Jobs current = iterator.Current;
                            string position = current.Position;
                            <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
                           <br />
                           string description = current.Description;
                           if(description.Length > 75)
                           {
                               description = description.Substring(0, 75);
                               description = description + "...";
                           }
                           int id = current.Job_Id;
                           @Html.Encode(description)
                           <br />
                           <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
                        }
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 span2 description red">
                    <span class="glyphicon glyphicon-pushpin btn-lg"></span>
                    <p>
                        @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.GetEnumerator())
                        {
                            iterator.MoveNext();
                            iterator.MoveNext();
                            iterator.MoveNext();
                            iterator.MoveNext();
                            iterator.MoveNext();
                            User_Login.Models.Tbl_Jobs current = iterator.Current;
                            string position = current.Position;
                            <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
                           <br />
                           string description = current.Description;
                           if(description.Length > 75)
                           {
                               description = description.Substring(0, 75);
                               description = description + "...";
                           }
                           int id = current.Job_Id;
                           @Html.Encode(description)
                           <br />
                           <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
                        }
                    </p>
                </div>
                <div class="col-md-6 span2 description blue">
                    <span class="glyphicon glyphicon-pushpin btn-lg"></span>
                    <p>
                        @using (IEnumerator<User_Login.Models.Tbl_Jobs> iterator = Model.GetEnumerator())
                        {
                            iterator.MoveNext();
                            iterator.MoveNext();
                            iterator.MoveNext();
                            iterator.MoveNext();
                            iterator.MoveNext();
                            iterator.MoveNext();
                            User_Login.Models.Tbl_Jobs current = iterator.Current;
                            string position = current.Position;
                            <strong style="text-decoration: underline; font-size:medium;">@Html.Encode(position)</strong>
                           <br />
                           string description = current.Description;
                           if(description.Length > 75)
                           {
                               description = description.Substring(0, 75);
                               description = description + "...";
                           }
                           int id = current.Job_Id;
                           @Html.Encode(description)
                           <br />
                           <strong>@Html.ActionLink("Details...", "Details", "JobSearch", new { id }, new { @style = "color:white;" })</strong>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />