@model User_Login.Models.Apply

@{
    ViewBag.Title = "Apply";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<div class="container">
    <div class="jumbotron list-group-item-success" style="margin-bottom:0px;">
        <h1 style="text-align:center;">Job Application</h1>
        <p style="font-style:italic; text-align:center; font-family:'Agency FB';">@Html.Encode(Model.JobPosition)</p>
    </div>
    <br />
    <br />
    <p class="label label-info center-block hidden-sm hidden-xs" style="font-size:large">Verify your information and click on Submit to apply for the @Html.Encode(Model.JobPosition) position</p>
    <p class="label label-info center-block visible-sm visible-xs" style="font-size:10px">Verify your information and click on Submit</p>
</div>

@*@using (Html.BeginForm("Apply",
                        "JobSearch",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <br />
    @Html.ValidationSummary("Application could not submitted.", new { @class = "alert alert-danger centered" });
    
    <style type="text/css">
        .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
            border: none;
        }
    </style>

    <div style="margin:5% auto; width:500px;top:20px;">
        <table width="350" class="table borderless">
            <tr>
                @Html.HiddenFor(u => u.EmailId)
                @Html.HiddenFor(u => u.JobId)
            </tr>
            <tr>
                <td>
                    <div style="font-size:large" title="Enter first name">
                        <label class="col-lg-10 label label-default">First Name*</label>
                    </div>
                </td>
                <td>
                    <div class="col-lg-15">
                        @Html.TextBoxFor(u => u.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div style="font-size:large" title="Enter last name">
                        <label class="col-lg-10 label label-default">Last Name*</label>
                    </div>
                </td>
                <td>
                    <div class="col-lg-15">
                        @Html.TextBoxFor(u => u.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div style="font-size:large" title="Enter street">
                        <label class="col-lg-10 label label-default">Street*</label>
                    </div>
                </td>
                <td>
                    <div class="col-lg-15">
                        @Html.TextBoxFor(u => u.Street, new { @class = "form-control", @placeholder = "Street" })
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div style="font-size:large" title="Enter City">
                        <label class="col-lg-10 label label-default">City*</label>
                    </div>
                </td>
                <td>
                    <div class="col-lg-15">
                        @Html.TextBoxFor(u => u.City, new { @class = "form-control", @placeholder = "City" })
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div style="font-size:large" title="Enter State">
                        <label class="col-lg-10 label label-default">State*</label>
                    </div>
                </td>
                <td>
                    <div class="col-lg-15">
                        @Html.TextBoxFor(u => u.State, new { @class = "form-control", @placeholder = "State" })
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div style="font-size:large" title="Enter Country">
                        <label class="col-lg-10 label label-default">Country*</label>
                    </div>
                </td>
                <td>
                    <div class="col-lg-15">
                        @Html.TextBoxFor(u => u.Country, new { @class = "form-control", @placeholder = "Country" })
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div style="font-size:large" title="Enter phone number">
                        <label class="col-lg-10 label label-default">Phone Number</label>
                    </div>
                </td>
                <td>
                    <div class="col-lg-15">
                        @Html.TextBoxFor(u => u.PhoneNumber, new { @class = "form-control", @placeholder = "Phone Number (ex: 1234567890" })
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div style="font-size:large" title="Enter skills">
                        <label class="col-lg-10 label label-default">Skills</label>
                    </div>
                </td>
                <td>
                    <div class="col-lg-15">
                        @Html.TextAreaFor(u => u.Skills, new { @class = "form-control", @placeholder = "Skills (ex: C#, ASP.NET, SQL" })
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div style="font-size:large" title="Enter first name">
                        <label class="col-lg-12 label label-default">Total Years of Experience</label>
                    </div>
                </td>
                <td>
                    <div class="col-lg-15">
                        @Html.TextBoxFor(u => u.ExperienceYears, new { @class = "form-control", @placeholder = "Total years of experience (ex: 7)" })
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div style="font-size:large" title="Enter first name">

                    </div>
                </td>
                <td>
                    <div class="col-lg-15">
                        @Html.ActionLink("Click here to upload your resume", "UploadResume", "User")
                    </div>
                </td>
            </tr>
        

            <tr>
                <td colspan="2">
                    <label class="label label-default" style="font-size:small">
                        Do you want to attach resume with your application?
                    </label>
                </td>
                
            </tr>

            <tr>
                <td>
                    @if (Model.ResumePath != null)
                    {
                        <div class="checkbox">
                            @Html.CheckBoxFor(u => u.UseExistingResume, "Yes")  Use my existing resume
                        </div>
                    }
                </td>
                <td>
                    <div class="editor-field" title="Upload your resume">
                        <input type="file" id="resumeUpload" name="resume" />
                    </div>
                </td>
            </tr>

        </table>

        <br />
        <br />
        <div class="text-center">
            <input type="submit" class="btn btn-success" value="Submit" title="Click to submit your information" />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" class="btn btn-danger" value="Cancel" title="Click to go back to Job Search page" onclick="window.location.href='@Url.Action("Index", "JobSearch")'" />
        </div>
    </div>
}*@

<div class="container-fluid">
    <form class="form-horizontal" action="@Url.Action("Apply", "JobSearch")" role="form" method="post" enctype="multipart/form-data">
        <div>
            @Html.ValidationSummary("Application could not submitted.", new { @class = "alert alert-danger centered" })
            <br />
        </div>
        <div class="row">
            <div class="col-lg-4 hidden-sm hidden-xs"></div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="" class="col-md-4 control-label label label-default hidden-sm hidden-xs" style="text-align:center; font-size:14px;"></label>
                    <label for="" class="col-md-4 control-label visible-sm visible-xs"></label>
                    <div class="col-md-8">
                        @Html.HiddenFor(u => u.EmailId)
                        @Html.HiddenFor(u => u.JobId)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 hidden-sm hidden-xs"></div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputFName" class="col-md-4 control-label label label-default hidden-sm hidden-xs" style="text-align:center; font-size:14px;">First Name*</label>
                    <label for="inputFName" class="col-md-4 control-label visible-sm visible-xs">First Name*</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(u => u.FirstName, null, new { @class = "form-control", @placeholder = "First Name", @id = "inputFName" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 hidden-sm hidden-xs"></div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputLName" class="col-md-4 control-label label label-default hidden-sm hidden-xs" style="text-align:center; font-size:14px;">Last Name*</label>
                    <label for="inputLName" class="col-md-4 control-label visible-sm visible-xs">Last Name*</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(u => u.LastName, null, new { @class = "form-control", @placeholder = "Last Name", @id = "inputLName" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 hidden-sm hidden-xs"></div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputStreet" class="col-md-4 control-label label label-default hidden-sm hidden-xs" style="text-align:center; font-size:14px;">Street*</label>
                    <label for="inputStreet" class="col-md-4 control-label visible-sm visible-xs">Street*</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(u => u.Street, null, new { @class = "form-control", @placeholder = "Street", @id = "inputStreet" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 hidden-sm hidden-xs"></div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputCity" class="col-md-4 control-label label label-default hidden-sm hidden-xs" style="text-align:center; font-size:14px;">City*</label>
                    <label for="inputCity" class="col-md-4 control-label visible-sm visible-xs">City*</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(u => u.City, null, new { @class = "form-control", @placeholder = "City", @id = "inputCity" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 hidden-sm hidden-xs"></div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputState" class="col-md-4 control-label label label-default hidden-sm hidden-xs" style="text-align:center; font-size:14px;">State*</label>
                    <label for="inputState" class="col-md-4 control-label visible-sm visible-xs">State*</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(u => u.State, null, new { @class = "form-control", @placeholder = "State", @id = "inputState" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 hidden-sm hidden-xs"></div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputCountry" class="col-md-4 control-label label label-default hidden-sm hidden-xs" style="text-align:center; font-size:14px;">Country*</label>
                    <label for="inputCountry" class="col-md-4 control-label visible-sm visible-xs">Country*</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(u => u.Country, null, new { @class = "form-control", @placeholder = "Country", @id = "inputCountry" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 hidden-sm hidden-xs"></div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputNumber" class="col-md-4 control-label label label-default hidden-sm hidden-xs" style="text-align:center; font-size:14px;">Phone Number</label>
                    <label for="inputNumber" class="col-md-4 control-label visible-sm visible-xs">Phone Number</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(u => u.PhoneNumber, null, new { @class = "form-control", @placeholder = "Phone Number (ex: 1234567890)", @id = "inputNumber" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 hidden-sm hidden-xs"></div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputSkills" class="col-md-4 control-label label label-default hidden-sm hidden-xs" style="text-align:center; font-size:14px;">Skills</label>
                    <label for="inputSkills" class="col-md-4 control-label visible-sm visible-xs">Skills</label>
                    <div class="col-md-8">
                        @Html.TextAreaFor(u => u.Skills, new { @class = "form-control", @placeholder = "Skills (ex: C#, ASP.NET, SQL)", @id = "inputSkills" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 hidden-sm hidden-xs"></div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputExp" class="col-md-4 control-label label label-default hidden-sm hidden-xs" style="text-align:center; font-size:11px;">Total Years of Experience</label>
                    <label for="inputExp" class="col-md-4 control-label visible-sm visible-xs">Total Years of Experience</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(u => u.ExperienceYears, null, new { @class = "form-control", @placeholder = "Total years of experience (ex: 7)", @id = "inputExp" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 hidden-sm hidden-xs"></div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="" class="col-md-4 control-label label label-default hidden-sm hidden-xs" style="text-align:center; font-size:14px;">Resume</label>
                    <label for="" class="col-md-4 control-label visible-sm visible-xs">Resume</label>
                    <div class="col-md-8">
                        @if (Model.ResumePath != null)
                        {
                            <div class="checkbox" style="font-weight:bold;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.CheckBoxFor(u => u.UseExistingResume, "Yes")  Use my existing resume
                            </div>
                        }
                        else
                        {
                            <input type="file" id="resumeUpload" name="resume" />
                        }
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="text-center">
            <br />
            <br />
            <br />
            <input type="submit" class="btn btn-success" value="Submit" title="Click to save information" />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" class="btn btn-danger" value="Cancel" title="Go to User Home Page" onclick="window.location.href='@Url.Action("LoggedIn", "User")'" />
            <br />
            <br />
            <p style="font-weight:bold;">* Indicates required field</p>
        </div>
    </form>
</div>