@model User_Login.Models.Apply

@{
    ViewBag.Title = "Apply";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
@*<label class="label label-warning center-block" style="font-size:large">Confirm</label>*@
<br />
<label class="label label-info center-block" style="font-size:large">Verify your information and click on Submit to apply for @Html.Encode(Model.JobPosition)</label>
@using (Html.BeginForm("Apply",
                        "JobSearch",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <br />
    @Html.ValidationSummary("Application could not submitted.", new { @class = "alert alert-danger centered" });
    <br />

    <div style="margin:5% auto; width:350px;top:30px;">
        <table width="350">
            <tr>
                @Html.HiddenFor(u => u.EmailId)
                @Html.HiddenFor(u => u.JobId)
            </tr>

            <tr>
                <td>
                    <label class="label label-default" style="font-size:small">
                        First Name
                    </label>
                </td>
                <td>
                    @Html.TextBoxFor(u => u.FirstName, new { @class = "form-control" })
                </td>
            </tr>

            <tr>
                <td>
                    <label class="label label-default" style="font-size:small">
                        Last Name
                    </label>
                </td>
                <td>
                    @Html.TextBoxFor(u => u.LastName, new { @class = "form-control" })
                </td>
            </tr>

            <tr>
                <td>
                    <label class="label label-default" style="font-size:small">
                        Street
                    </label>
                </td>
                <td>
                    @Html.TextBoxFor(u => u.Street, new { @class = "form-control", @placeholder = "Street" })
                </td>
            </tr>

            <tr>
                <td>
                    <label class="label label-default" style="font-size:small">
                        City
                    </label>
                </td>
                <td>
                    @Html.TextBoxFor(u => u.City, new { @class = "form-control", @placeholder = "City" })
                </td>
            </tr>

            <tr>
                <td>
                    <label class="label label-default" style="font-size:small">
                        State
                    </label>
                </td>
                <td>
                    @Html.TextBoxFor(u => u.State, new { @class = "form-control", @placeholder = "State" })
                </td>
            </tr>

            <tr>
                <td>
                    <label class="label label-default" style="font-size:small">
                        Country
                    </label>
                </td>
                <td>
                    @Html.TextBoxFor(u => u.Country, new { @class = "form-control", @placeholder = "Country" })
                </td>
            </tr>

            <tr>
                <td>
                    <label class="label label-default" style="font-size:small">
                        Phone Number
                    </label>
                </td>
                <td>
                    @Html.TextBoxFor(u => u.PhoneNumber, new { @class = "form-control", @placeholder = "Phone Number" })
                </td>
            </tr>

            <tr>
                <td>
                    <label class="label label-default" style="font-size:small">
                        Skills
                    </label>
                </td>
                <td>
                    @Html.TextAreaFor(u => u.Skills, new { @class = "form-control", @placeholder = "Skills" })
                </td>
            </tr>

            <tr>
                <td>
                    <label class="label label-default" style="font-size:small">
                        Total Years of Experience
                    </label>
                </td>
                <td>
                    @Html.TextBoxFor(u => u.ExperienceYears, new { @class = "form-control", @placeholder = "Years of Experience" })
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <label class="label label-default" style="font-size:small">
                        Do you want to attach resume with your application?
                    </label>
                </td>
                
            </tr>

            <tr>
                <td>
                    @if (Model.ResumePath != null)
                    {
                        <div class="checkbox">
                            @Html.CheckBoxFor(u => u.UseExistingResume, "Yes")  Use my existing resume
                        </div>
                    }
                </td>
                <td>
                    <div class="editor-field" title="Upload your resume">
                        @*@Html.TextBoxFor(u => u.EmailId, new { @class = "form-control", @placeholder = "Email address" })*@
                        <input type="file" id="resumeUpload" name="resume" />
                    </div>
                </td>
            </tr>

        </table>

        <br />
        <br />
        <div class="text-center">
            <input type="submit" class="btn btn-danger" value="Submit" title="Click to submit your information" />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" class="btn btn-danger" value="Cancel" title="Click to go back to Job Search page" onclick="window.location.href='@Url.Action("Index", "JobSearch")'" />
        </div>
    </div>
}
<input type="button" class="btn btn-default" value="Search Jobs" onclick="window.location.href='@Url.Action("Index", "JobSearch")'" />