@model User_Login.Models.Tbl_Jobs
@{
    ViewBag.Title = "Job Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<div class="container">
    <div class="jumbotron list-group-item-success" style="margin-bottom:0px;">
        <h1 style="text-align:center;">@Html.Encode(Model.Position)</h1>
    </div>
</div>

@if (Session["hasApplied"] != null)
{
    <div class="container">
        <br />
        <label class="label-danger" style="font-size:medium">
            @Session["hasApplied"].ToString()
        </label>
    </div>
}

<br />
<br />
<br />

<table id="jobDetails" align="left" cellpadding="2500" class="pagination table-responsive" data-pagination="true" data-search="true">
    <tr class="rowSpace">
        <td>
            <div style="font-size:large">
                <label class="col-lg-10 label label-default">Position</label>
            </div>
        </td>
        <td>
            <div style="font-size:medium" class="col-lg-12">
                @Html.Label(Model.Position)
            </div>
        </td>
    </tr>
    <tr class="rowSpace" style="word-wrap:normal;">
        <td>
            <div style="font-size:large">
                <label class="col-lg-12 label label-default">Description</label>
            </div>
        </td>
        <td>
            <div style="font-size:medium; font-weight:bold" class="col-lg-12">
                @Html.Encode(Model.Description)
            </div>
        </td>
    </tr>
    <tr class="rowSpace">
        <td>
            <div style="font-size:large">
                <label class="col-lg-12 label label-default">Location</label>
            </div>
        </td>
        <td>
            <div style="font-size:medium;font-weight:bold" class="col-lg-12">
                @Html.Encode(Model.City_Name), @Html.Encode(Model.State_Name), @Html.Encode(Model.Country_Name)
            </div>
        </td>
    </tr>
    <tr class="rowSpace">
        <td>
            <div style="font-size:large">
                <label class="col-lg-12 label label-default">Required Skills</label>
            </div>
        </td>
        <td>
            <div style="font-size:medium;" class="col-lg-12">
                @Html.Label(Model.Required_Skills)
            </div>
        </td>
    </tr>
    <tr class="rowSpace" style="word-wrap:normal;">
        <td>
            <div style="font-size:large">
                <label class="col-lg-12 label label-default">Customer</label>
            </div>
        </td>
        <td>
            <div style="font-size:medium" class="col-lg-12">
                @Html.Label(Model.Customer)
            </div>
        </td>
    </tr>
    <tr class="rowSpace" style="word-wrap:normal;">
        <td>
            <div style="font-size:large;">
                <label class="col-lg-12 label label-default">Start Date</label>
            </div>
        </td>
        <td>
            <div style="font-size:medium; font-weight:bold;" class="col-lg-12">
                @Html.Encode(Model.Start_Date)
            </div>
        </td>
    </tr>
    
    <tr class="rowSpace" style="word-wrap:normal;">
        <td>
            <div style="font-size:large;">
                <label class="col-lg-12 label label-default">End Date</label>
            </div>
        </td>
        <td>
            <div style="font-size:medium; font-weight:bold;" class="col-lg-12">
                @Html.Encode(Model.End_Date)
            </div>
        </td>
    </tr>
    <tr class="rowSpace" style="word-wrap:normal;">
        <td>
            <div style="font-size:large">
                <label class="col-lg-12 label label-default">Salary</label>
            </div>
        </td>
        <td>
            <div style="font-size:medium; font-weight:bold" class="col-lg-12">
                @Html.Encode(Model.Pay_Rate)
            </div>
        </td>
    </tr>
</table>

<br />
<br />
<br />

<style type="text/css">
    .Apply {
        align-self: center;
        text-align: center;
        font-family: 'Courier New';
        font-weight: bold;
        height: 36px;
        width: 80px;
        display: inline;
        margin: 5% auto;
        left: 500px;
    }

    tr.rowSpace > td {
        padding-bottom: 1em;
    }
</style>
<br />
<br />
<div id="btnApplyStyle">
    <br />
    <br />
    @*<pre style="border:none; background-color:white;">*@
    @*<form class="Apply">*@

    <div class="text-center">
        <input type="button" class="btn btn-success" value="Apply" onclick="window.location.href='@Url.Action("Apply", "JobSearch", new { id = @Model.Job_Id  })'" />&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class="btn btn-danger" value="Back" onclick="history.go(-1)" /> @*window.location.href='@Url.Action("Index", "JobSearch")'" />*@
    </div>
    @*  </form>*@
    @*</pre>*@
</div>